{% extends 'ApplicationImageGridBundle::layout.html.twig' %}

{% block sidebar %}
  <div id="move">
    <a class="control" href="{{ path('navigator', { 'scale': scale, 'x': x_offset, 'y': y_offset - 1 }) }}" id="move-up">go up</a>
    <a class="control" href="{{ path('navigator', { 'scale': scale, 'x': x_offset - 1, 'y': y_offset }) }}" id="move-left">go left</a>
    <a class="control" href="{{ path('navigator', { 'scale': scale, 'x': x_offset + 1, 'y': y_offset }) }}" id="move-right">go right</a>
    <a class="control" href="{{ path('navigator', { 'scale': scale, 'x': x_offset, 'y': y_offset + 1 }) }}" id="move-down">go down</a>
  </div>
  <div id="zoom">
    <a class="control" href="{{ path('navigator', { 'scale':scale - 0.1, 'x': x_offset, 'y': y_offset }) }}" id="zoom-out">zoom out</a>
    <a class="control" href="{{ path('navigator', { 'scale':scale + 0.1, 'x': x_offset, 'y': y_offset }) }}" id="zoom-in">zoom in</a>
  </div>
{% endblock %}

{% block body %}

<table cellpadding="0" cellspacing="0">
{% for y in range(y_offset, y_limit) %}
  <tr>
  {% for x in range(x_offset, x_limit) %}
    <td>
      <img width="100" height="100"
        src="{{ path('show_grid_cell', { 'scale': scale, 'x': x, 'y': y, 'w': 100, 'h': 100 }) }}" alt="{{ x }},{{ y }}" />
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>

{% endblock %}

